<html>
  <head>
    <link rel="icon" href="/img/favi.png">
    <title>Buy cool new product</title>
  </head>
  <body>
    <button id="checkout-button">Checkout</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js/bundle.js"></script>    
  </body>
</html>